<footer class="bg-dark text-white py-4">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <div class="d-flex">
          <a href="https://twitter.com/" class="me-3"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.facebook.com/" class="me-3"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="index.php">Home</a></li>
          <li><a href="dashboard.php">Dashboard</a></li>
          <li><a href="transaksi.php">Transaksi</a></li>
          <li><a href="bookmark.php">Bookmark</a></li>
          <li><a href="about.php">About</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <form method="post" action="contact.php">
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Enter your email" name="email">
          </div>
          <div class="mb-3">
            <textarea class="form-control" placeholder="Your message" rows="3" name="message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</footer>

